---

name: flake8

on:
  pull_request:
    paths:
      - .github/workflows/flake8.yml
      - '**.py'
  push:
    paths:
      - .github/workflows/flake8.yml
      - '**.py'

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      -
        uses: py-actions/flake8@v2

...
